PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/luxury_real_estate?schema=public"
JWT_SECRET="super-secret-luxury-key-12345"

# Mail Config (Nodemailer setup, e.g., Mailtrap, Resend, Sendgrid, Gmail)
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="your-smtp-user"
SMTP_PASS="your-smtp-pass"

# Email Notifications Destinations
EMAIL_FROM="noreply@profptiy-luxury.com"
EMAIL_TO="owner@profptiy-luxury.com"

# Client URL (for CORS)
CLIENT_URL="http://localhost:3000"
